<p id="notice"><%= notice %></p>

<p>
  <b>Cabelo:</b>
  <%= @cebolinha.cabelo %>
</p>

<p>
  <b>Olhos:</b>
  <%= @cebolinha.olhos %>
</p>

<p>
  <b>Orelhas:</b>
  <%= @cebolinha.orelhas %>
</p>

<p>
  <b>Idade:</b>
  <%= @cebolinha.idade %>
</p>

<p>
  <b>Altura:</b>
  <%= @cebolinha.altura %>
</p>

<p>
  <b>Vivo:</b>
  <%= @cebolinha.vivo %>
</p>


<%= link_to 'Edit', edit_cebolinha_path(@cebolinha) %> |
<%= link_to 'Back', cebolinhas_path %>
